# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Testing
coverage/
**/coverage/

# Production
dist/
**/dist/
build/
**/build/
out/
**/out/

# Misc
.DS_Store
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System
thumbs.db
desktop.ini
